# Database Admin 101 - Lab

## Introduction 

In this lab, you'll go through the process of designing and creating a database. From there, you'll begin to populate this table with mock data provided to you.

## Objectives

You will be able to:

* Use knowledge of the structure of databases to create a database and populate it

## The Scenario

You are looking to design a database for a school that will house various information from student grades to contact information, class roster lists and attendance. First, think of how you would design such a database. What tables would you include? What columns would each table have? What would be the primary means to join said tables?

## Creating the Database

Now that you've put a little thought into how you might design your database, it's time to go ahead and create it! Start by import the necessary packages. Then, create a database called **school.sqlite**.

In [4]:
# Import necessary packages
import sqlite3

In [5]:
# Create the database school.sqlite 
db = sqlite3.connect('school.sqlite')
cursor = db.cursor()

## Create a Table for Contact Information

Create a table called contactInfo to house contact information for both students and staff. Be sure to include columns for first name, last name, role (student/staff), telephone number, street, city, state, and zipcode. Be sure to also create a primary key for the table.

In [7]:
# Your code here
db.execute("""CREATE TABLE contactInfo(
                                id INTEGER PRIMARY KEY,
                                firstName TEXT,
                                lastName TEXT,
                                role TEXT,
                                phoneNumber TEXT,
                                street TEXT,
                                city TEXT,
                                state TEXT,
                                zipcode TEXT)
           """)

## Populate the Table

Below, code is provided for you in order to load a list of dictionaries. Briefly examine the list. Each dictionary in the list will serve as an entry for your contact info table. Once you've briefly investigated the structure of this data, write a for loop to iterate through the list and create an entry in your table for each person's contact info.

In [9]:
# Load the list of dictionaries; just run this cell
import pickle

with open('contact_list.pickle', 'rb') as f:
    contacts = pickle.load(f)

In [10]:
# Iterate over the contact list and populate the contactInfo table here
id = 0
for contact in contacts:
    query = 'INSERT INTO contactInfo\nVALUES (' + str(id) + ','
    id += 1
    for value in contact:
        query += ('\'' + str(contact[value]) + '\', ')
    query = query[:-2]
    query += ');'
    db.execute(query)

**Query the Table to Ensure it is populated**

In [12]:
# Your code here 
cursor.execute("SELECT * FROM contactInfo LIMIT 5;")
print(cursor.fetchall())

[(0, 'Christine', 'Holden', 'staff', '2035687697', '1672 Whitman Court', 'Stamford', 'CT', '06995'), (1, 'Christopher', 'Warren', 'student', '2175150957', '1935 University Hill Road', 'Champaign', 'IL', '61938'), (2, 'Linda', 'Jacobson', 'staff', '4049446441', '479 Musgrave Street', 'Atlanta', 'GA', '30303'), (3, 'Andrew', 'Stepp', 'student', '7866419252', '2981 Lamberts Branch Road', 'Hialeah', 'Fl', '33012'), (4, 'Jane', 'Evans', 'student', '3259909290', '1461 Briarhill Lane', 'Abilene', 'TX', '79602')]

## Commit Your Changes to the Database

Persist your changes by committing them to the database.

In [47]:
# Your code here
db.commit()

## Create a Table for Student Grades

Create a new table in the database called "grades". In the table, include the following fields: userId, courseId, grade.

** This problem is a bit more tricky and will require a dual key. (A nuance you have yet to see.)
Here's how to do that:

```SQL
CREATE TABLE table_name(
   column_1 INTEGER NOT NULL,
   column_2 INTEGER NOT NULL,
   ...
   PRIMARY KEY(column_1,column_2,...)
);
```

In [50]:
# Create the grades table
db.execute('''CREATE TABLE grades(
   userId INTEGER NOT NULL,
   courseId INTEGER NOT NULL,
   grade INTEGER,
   PRIMARY KEY(userId, courseId)
)''')

## Remove Duplicate Entries

An analyst just realized that there is a duplicate entry in the contactInfo table! Find and remove it.

In [58]:
# Find the duplicate entry
cursor.execute('''SELECT id, firstName, lastName, COUNT(*)
FROM contactInfo
GROUP BY firstName, lastName
Having COUNT(*)>1''')
cursor.fetchall()

[(4, 'Jane', 'Evans', 2)]

In [60]:
# Delete the duplicate entry
cursor.execute('''DELETE FROM contactInfo WHERE id = 4;''')

In [62]:
# Check that the duplicate entry was removed
cursor.execute('''SELECT firstName, lastName, COUNT(*)
FROM contactInfo
GROUP BY firstName, lastName
Having COUNT(*)>1''')
cursor.fetchall()

[]

## Updating an Address

Ed Lyman just moved to `2910 Simpson Avenue York, PA 17403`. Update his address accordingly.

In [80]:
# Update Ed's address
cursor.execute('''UPDATE contactInfo 
SET street =  "2910 Simpson Avenue", city = "York", state = "PA", zipcode = "17403"
WHERE firstName = "Ed" AND lastName = "Lyman";''')

In [82]:
# Query the database to ensure the change was made
cursor.execute('''SELECT * FROM contactInfo WHERE firstName = "Ed" AND lastName = "Lyman";''')
print(cursor.fetchall())

[(7, 'Ed', 'Lyman', 'student', '5179695576', '2910 Simpson Avenue', 'York', 'PA', '17403')]

## Commit Your Changes to the Database

Once again, persist your changes by committing them to the database.

In [84]:
# Your code here
db.commit()

## Summary

While there's certainly more to do with setting up and managing this database, you got a taste for creating, populating, and maintaining databases! Feel free to continue fleshing out this exercise for more practice.